{#  -*- coding: utf-8 -*- #}
{% import 'arusahni_helper.tmpl' as arusahni with context %}
{% import 'index_helper.tmpl' as helper with context %}
{% import 'comments_helper.tmpl' as comments with context %}
{% extends 'base.tmpl' %}

{% block extra_head %}
    {{ super() }}
    <style>
    div.input_prompt {
      display: none;
    }
    </style>
{% endblock %}

{% block content %}
    <h2>I'm Pengyin(Wendy) Shan. Glad to meet you!</h2>
    <br/>
    <hr/>
    <br/>
    {% for post in posts %}
        <div class="post">
            <h3 class="title"><a href="{{ post.permalink() }}">{{ post.title() }}</a></h3>
            <div class="meta">
                <div class="authordate">
                    <time class="timeago" datetime="{{post.date.isoformat()}}">{{ post.formatted_date(date_format) }}</time>
                </div>
                <div class="stats">
                {% if not post.meta('nocomments') %}
                    {{ comments.comment_link(post.permalink(), post.base_path) }}
                {% endif %}
                </div>
            {{ arusahni.html_tags(post) }}
            </div>
            <div class="body">
            {% if index_teasers %}
                {{ post.text(teaser_only=True) }}
            {% else %}
                {{ post.description() }}    
            {% endif %}
            </div>
        </div>
    {% endfor %}
    {{ helper.html_pager() }}
    {{ comments.comment_link_script() }}
{% endblock %}
